<script>
  document.addEventListener('load', function(event) {
    load_magic_test();
  }, false);

  document.addEventListener('turbo:load', function(event) {
    load_magic_test();
  }, false);

  document.addEventListener('turbo:frame-load', function(event) {
    load_magic_test();
  }, false);

  var magic_test_loaded = 0;
  function load_magic_test(){
    if (magic_test_loaded == 1){
      return;
    }
    magic_test_loaded = 1;
    magic_test_ready();
    document.addEventListener('keypress', function(e){keypressFunction(e)});
    document.addEventListener('mouseover', function(evt){mutationStart(evt)}, true);
    document.addEventListener('mouseover', function(){mutationEnd()}, false);
    document.addEventListener('click', function(event){clickFunction(event)});
  }


</script>
